.container-hoc {
    background: linear-gradient(to bottom, #eee6d5 30%, #ffe5d9 70%);
    width: 100%;
    position: relative;
}

.container-mong {
    background: linear-gradient(to bottom, #ffe5d9 30%, #fcf0f0 70%);
    width: 100%;
    position: relative;
    display: none;
}

body {
    overflow-x: hidden;
}

.canchinh-hang {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}

.image-box img {
    width: 50%;
    border-radius: 15%;
}

.giau {
    opacity: 0;
    transition: all 0.8s ease-out;
}

.fade-left {
    transform: translateX(-100px);
}

.fade-right {
    transform: translateX(100px);
}

.xuathien {
    opacity: 1;
    transform: translateX(0);
}

.chua-hoc {
    position: relative;
}

.hoc-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ffe5d9;
    color: #3e1b0b;
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: all 0.3s ease;
}

.hoc-btn:hover {
    background-color: #3e1b0b;
    color: #fcf2ee;
    transition: all 0.3s ease;
}

.mong-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fcf0f0;
    color: #4b1212;
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    transition: all 0.3s ease;
}

.mong-btn:hover {
    background-color: #4b1212;
    color: #fff;
    transition: all 0.3s ease;
}

@media(max-width: 768px) {
    .image-box img {
        width: 80%;
    }

    .canchinh-hang {
        font-size: 20px;
    }

    .hoc-btn,
    .mong-btn {
        padding: 5px 10px;
        font-size: 14px;
    }
}